body {
  font-family: 'Arial';
  margin: 0px;
}

/** layout sections **/
.description h1 {
  margin-bottom: 10px;
  font-weight: bold;
}

#monsoon .description p {
  color: gray;
}

#monsoon .image, #move2 .image {
  margin-right: 25px;
}

#beams .image {
  margin-left: 25px;
}

.section {
  display: flex;
  margin-bottom: -30px;
  padding: 10%;
  align-items: center;
}

#monsoon {
  flex-direction: row-reverse;
}

#beams {
  background-color: #30302f;
  color: white;
  padding: 10%;
  flex-direction: row;
}

#move2 {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(48,48,47,1) 100%);
  color: white;
  padding: 10%;
  flex-direction: row-reverse;
}

/** carousel slides **/
.carouselImage img {
  width: 200px!important;
  margin-right: 25px;
}

.carouselInformation, .carouselImage {
  color: white;
}

.carouselSlide {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5% 10% 10% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 105%;
  /*filter: blur(15px) saturate(.7) brightness(.8) contrast(.8);*/
}

li.slide.selected, li.slide {
   text-align: left !important;
}

button.control-arrow.control-next {
  display: inline-block;
  height: 1.5em;
  transform: rotate(45deg);
  vertical-align: top;
  width: 1.5em;
  top: 200px !important;
  margin-right: 50px;
}

button.control-arrow.control-prev {
  display: inline-block;
  height: 1.5em;
  vertical-align: top;
  width: 1.5em;
  transform: rotate(-135deg);
  top: 200px !important;
  margin-left: 50px;

}

button.control-arrow.control-next:hover,  button.control-arrow.control-prev:hover{
  border: 1px solid #66b3ff;
  background: none !important;
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  content: none !important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
  border-style: solid !important;
  border-width: 0.15em 0.15em 0 0 !important;
  color: white !important;
  font-size: 15px !important;
}

/** buttons for carousel slides **/
.buyNow img{
  height: 20px;
  width: 20px !important;
}

.url a {
  text-decoration: none;
  color: white;
}

.url {
  display: inline-block;
  width: 150px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid steelblue;
  background: steelblue;
  padding: 10px;
}

.buyNow:hover, .watchTrailer:hover {
  opacity: 0.8;
}

.watchTrailer {
  margin-left: 10px;
  border: 1px solid lightgrey;
  background: none;
}


@media screen and (max-width: 1000px) {
  /** layout sections **/
  .section {
    flex-wrap: wrap;
    align-items: stretch;
  }

  #monsoon, #beams, #move2 {
    flex-direction: column;
  }


  #monsoon .image, #move2 .image, #beams .image  {
    margin: 0px;
    padding-bottom:20%;
  }

  .image img {
    width: 100%;
    height: auto;
    padding: 30px 0px 30px 0px;
  }


  /** carousel slides **/
  .carouselSlide {
    display: flex;
    flex-direction: column-reverse;
  }

  .carouselImage img {
    padding: 30px 0px 30px 0px;
    margin: 0px;
  }

  button.control-arrow.control-prev, button.control-arrow.control-next {
    top: 400px !important;
    margin-right: 25px;
    margin-left: 25px;
  }

  /** buttons for carousel slides **/
  .watchTrailer {
    margin-left: 0px;
    margin-top: 10px;
  }

  .url {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}